<!DOCTYPE html>
<!-- Thymeleaf使う宣言 -->
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<div th:fragment="side_bar">
  <div class="side-bar-header">
    <div class="header-name">
      <!-- ↓サイドバーからユーザー編集ページへ遷移 -->
      <!-- ↓th:href=：@{パス}でユーザー編集ページへ。 th:text="出力する値"：そのタグのテキスト要素を出力できる -->
      <a th:href="@{/users/{userId}/edit(userId=${user.id})}" th:text="${user.name}">ユーザー名</a>
    </div>
    <div class="create-room">
      <a href="#">チャットを作成する</a>
    </div>
  </div>

  <div class="rooms">
    <div class="room">
      <div class="room-name">
        <a href="#">techroom1</a>
      </div>
    </div>
    <div class="room">
      <div class="room-name">
        <a href="#">techroom2</a>
      </div>
    </div>
  </div>
</div>

</html>